APP_ENV=development

#DB
DB_ERC_URI=mysql+pymysql://user:password@localhost:3306/dbTest
DB_EP_URI=mysql+pymysql://user:password@localhost:3306/dbTest

# CORS
CORS_ORIGINS=["http://localhost", "http://localhost:3000"]
ALLOWED_HOSTS=['127.0.0.0']