APP_ENV="DEV" | "PROD"
PORT=8000

# Aplication 
APPLICATION_TITLE="Api"
APPLICATION_SUMMARY="Summary info"
APPLICATION_DESCRIPTION="Description"
APPLICATION_VERSION="1.0.0"

# SECURITY
SECURITY_API_KEY_HEADER="test"
SECURITY_API_KEY_HEADER_DESCRIPTION="test"
SECURITY_SCHEME_NAME="test"
SECURITY_DEFAULT_API_KEY="test"

#DB
DATABASES="{"test1":"mysql+pymysql://user:password@localhost:3306/dbTest", "test2":"mysql+pymysql://user:password@localhost:3306/dbTest2"}"

# CORS
CORS_ORIGINS=["http://localhost:3000"]
ALLOWED_HOST=["127.0.0.1", "localhost"]